$color-gray: #3530304a;
$color-blue: #1877f2;
$bg-color: #f0f2f5;

// border
$radius: 10px;

//boxshadow
$boxShadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
  rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

//width
$maxWidth-xl: 1024px;
