.card {
  margin-top: 20px;
  border-radius: $radius;
  box-shadow: $boxShadow;
  width: 100%;
  padding: 0 10px;
}
.card--title-left {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
  padding: 10px 0;
}
