// BS4
form {
  .form-control {
    &:focus {
      box-shadow: unset;
      border-color: unset;
    }
  }
}
.btn:focus {
  box-shadow: unset !important;
}

// ANTD

.ant-btn {
  border-radius: 10px !important;
}
// ANTD - Select
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 10px !important;
}
// ANTD - Modal

.ant-modal-content,
.ant-modal-header {
  border-radius: 10px !important;
}
// ANTD - TEXTAREA
textarea.ant-input {
  border-radius: 10px !important;
}

.ant-carousel .slick-dots-bottom {
  bottom: -30px !important;
}

.ant-carousel .slick-dots li button {
  background-color: cornflowerblue !important;
}
.ant-carousel .slick-dots li.slick-active button {
  background-color: black !important;
}
