.search-cocktail{
    width: 300px !important;
    margin: 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 20px;
    .ant-input-group{
        .ant-input-group-addon{
            background-color: #ffffff;
            border: none ;
           .select-lang{
               width: 100px;
           }
        }
        .ant-input-affix-wrapper{
            border: none;
        }
    }
}